PORT=3003
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-patient-base-b5gm8fkw-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_DIRECT_URL=postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-patient-base-b5gm8fkw.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require
DB_SSL=true
AUTH_SERVICE_URL=http://localhost:3001
ACCOUNTING_SERVICE_URL=http://localhost:3002
JWT_SECRET=super_secret_jwt_key_uniputumayo_2026_production
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003
